{% extends 'base.html.twig' %}

{% block title %}New Heading{% endblock %}

{% block body %}
    <h1>Create new Heading</h1>

    {{ include('heading/_form.html.twig') }}

    <a href="{{ path('heading_index') }}">back to list</a>
{% endblock %}
