{% extends 'base.html.twig' %}

{% block title %}Création de personnages{% endblock %}

{% block body %}


<div>
    <h1>Création de personnages</h1>
            <h3>1 – Chapitre d'origine</h3>
                <p>Il faut choisir le chapitre d'origine du space marine. Cela va lui donner accès au Dons de son
                chapitre. Il gagne les capacités de base de son chapitre immédiatement.</p>
            <h3>2 – Spéciah3té/Classe</h3>
                <p>Il faut choisir la spéciah3té du space marine. Cela va lui donner accès aux dons de sa spéciah3té. Il
                gagne les capacités de base de sa spéciah3té immédiatement.</p>
            <h3>3 – PV de base</h3>
                <p>Un Space Marine a 25 PV de base.</p>
            <h3>4 – Compétences de base</h3>
                <p>Un Space marine débute à 11 dans chaque compétence.</p>
            <h3>5 – Défense de Base</h3>
                <p>Chaque space marine a les premières cases de chaque h3gne de son tableau de Défense.</p>
            <h3>6 – Nom du Personnage</h3>
                <p>Donner un nom au personnage.</p>
            <h3>7 – Haut fait et histoire</h3>
                <p>Parler du Personnage</p>
            <h3>8 – Gain de 3 points de Maitrise</h3>
                <p>Ces points peuvent être dépensés immédiatement.</p>
            <h3>9 – Seuil de réquisition de base</h3>
                <p>De base, un Space marine à 5 points de Réquisition</p>
            <h3>10 – Equipement de base</h3>
                <p>Un space marine de base à son armure énergétique, son pistolet bolter, son bolter et sa lame de
                combat.</p>
</div>
{% endblock %}
